<div class="col-lg-6 col-md-6">
	<h1>About</h1>
	<h2 class="title-margin">{{site.author.name}}</h2>
	<div class="col-lg-12 col-md-12 col-lg-offset-1 col-md-offset-1">
		<img src="{{site.author.image}}" alt="{{site.author.name}} portrait" class="img-responsive">
	</div>
	<div class="text-margin">
		<p>
			{{site.author.about_en}}
		</p>
	</div>
</div>