<div class="row">
<div class="projects-container">
  {{#each documents}}
  <div class=" col-sm-6 col-md-4 col-lg-3">

    <div class="thumbnail">
      <div>
        <a href="projects/{{this.filename}}.html" ><img src="{{this.data.body.thumb}}" alt="" class="img-responsive"></a>
      </div>
      <div class="caption">
        {{this.data.title_en}}        
      </div>
    </div>
  </div>
  {{/each}}
  </div>
</div>

