<div>
    {{#each documents}}
    <div>
      <div>
        <a href="project.html" ><img src="{{this.body.thumb}}" alt=""></a>
      </div>
      <div>
        {{this.title}}        
      </div>
    </div>
    {{/each}}
</div>

