<div class="row">
  {{#each documents}}
  <div class="col-md-4 col-lg-4">

    <div class="thumbnail">
      <div>
        <a href="project.html" ><img src="{{this.body.thumb}}" alt=""></a>
      </div>
      <div class="caption">
        {{this.title}}        
      </div>
    </div>
  </div>
  {{/each}}
</div>

