<div data-spy="affix" data-offset-top="10" >
  <h1><a href="index.html">{{site.title}}</a></h1>
  <ul class="nav nav-stacked">
    {{#each sidebar.menu}}
    <li><a href="{{this.slug}}.html">{{this.title}}</a></li>
    {{/each}}
  </ul>
</div>