/* customized bootstrap */
/*@import 'mapplethorpe-bootstrap.css'; */

/*
@import 'fonts.css';
*/


body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: clear_sans_lightregular;	
}

/*  
h1, h2, h3, h4, h5, h6 .nav {
	font-family: clear_sansbold;
}
*/

.affix-top{
	margin-left:5%;
}

.affix{
	position:fixed;
	left:0.8%;
}
.body{
	max-height: 100%;
	overflow-y : scroll;
}
/*  
.sidebar{
	margin-left:5%;
}
*/

div.thumbnail{
	border:none;
}

.projects-container{
	margin-top:30px;
}

.project-img{
	margin-top: 3%;
	margin-bottom: 3%;
}
/* fonts */


.title-margin{
    margin-top: 3%;
    margin-bottom: 2%;
}

.text-margin{
    margin-top: 3%;
}

@font-face {
    font-family: 'clear_sansbold_italic';
    src: url('/assets/fonts/clearsans/clearsans-bolditalic-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-bolditalic-webfont.svg#clear_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sansitalic';
    src: url('/assets/fonts/clearsans/clearsans-italic-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-italic-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-italic-webfont.svg#clear_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sansbold';
    src: url('/assets/fonts/clearsans/clearsans-bold-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-bold-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('/assets/fonts/clearsans/clearsans-light-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-light-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-light-webfont.svg#clear_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('/assets/fonts/clearsans/clearsans-medium-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-medium-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-medium-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sans_mediumitalic';
    src: url('/assets/fonts/clearsans/clearsans-mediumitalic-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-mediumitalic-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-mediumitalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-mediumitalic-webfont.svg#clear_sans_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sansregular';
    src: url('/assets/fonts/clearsans/clearsans-regular-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-regular-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('/assets/fonts/clearsans/clearsans-thin-webfont.eot');
    src: url('/assets/fonts/clearsans/clearsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/clearsans/clearsans-thin-webfont.woff') format('woff'),
         url('/assets/fonts/clearsans/clearsans-thin-webfont.ttf') format('truetype'),
         url('/assets/fonts/clearsans/clearsans-thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}